<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FurryfunWeb</title>
  <link rel="stylesheets" href="pages.scss">
</head>
<body>
    <nav>
      <div class="heading"><a href="" class="title">
        <img alt="Pet" src="/assets/Pet" class= "pet_icon"/>
        <h4>Furryfun</h4>
      </a></div>
      <ul class="nav-links">
        <li><a href="">Home</a></li>
        <li><a href="pets">Pets</a></li>
        <li><a href="create">Create</a></li>
        <li><a href="FAQ">FAQ</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
  <div class = "carousel">
    <button class="carousel_button carousel_button--left">
      <img src="/assets/left" alt="left">
    </button>
    <div class="carousel_track-container">
      <ul class="carousel_track">
        <li class="carousel_slide">
          <img class="carousel_images" src="/assets/Carousel 1" alt="carousel 1">
        </li>
        <li class="carousel_slide">
          <img class="carousel_images" src="/assets/Carousel 2" alt="carousel 2">
        </li>
        <li class="carousel_slide">
          <img class="carousel_images" src="/assets/Carousel 3" alt="carousel 3">
        </li>
      </ul>
    </div>
    <button class="carousel_button carousel_button--right">
      <img src="/assets/right" alt="right">
    </button>

    <div class="carousel_nav">
      <button class="carousel_indicator current-slide"></button>
      <button class="carousel_indicator"></button>
      <button class="carousel_indicator"></button>
    </div>
  </div>
  <script src="/assets/carousel"></script>
</body>
</html>
