<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FurryfunWeb</title>
  <link rel="stylesheets" href="pages.scss">
</head>
<body>
    <nav>
      <div class="heading">
        <h4>FurryfunWeb</h4>
      </div>
      <ul class="nav-links">
        <li><a href="">home</a></li>
        <li><a href="pets">Pets</a></li>
        <li><a href="create">Create</a></li>
      </ul>
    </nav>
    <div class="body-text"><h1>THIS IS A HOME PAGE</h1></div>
</body>
</html>
