// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/*
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

.body-text{
  display: flex;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
  font-family: sans-serif;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width:30%;
}
.nav-links{
  list-style: none;
}
.heading{
  color:black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.title{
  text-decoration:none;
  color:black;
}

.nav-links li a{
  color:black;
  text-decoration:none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  padding:14px 16px;
}
.nav-links li a:hover{
  color:#4085BE;
  text-decoration: underline;
  text-decoration-color:#EEC2BC;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
}
.pet_icon{
  max-width:20%;
  max-height: 20%;
  position:relative;
  right:-50px;
  padding-top: 10px;
}
